<div class="d-flex justify-content-center">
    <h1 class="display-1"><b>Joshua Quizon</b></h1>
</div>

<div class="d-flex justify-content-center">
    <div>
        <!-- buttons directing to different links go here -->
        <a class="btn btn-primary" routerLink="/projects" role="button">Projects</a>
        <a class="btn btn-primary" routerLink="#" role="button">Resume</a>
    </div>
    <div>
        <!-- buttons directing to different links go here -->
        <a class="btn btn-primary" routerLink="#" role="button">About Me</a>
        <a class="btn btn-primary" routerLink="#" role="button">Socials</a>
    </div>
</div>
