<nav id="homeHeader" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>

<div class="d-flex justify-content-center">
    <h1 class="display-1"><b>Joshua Quizon</b></h1>
</div>

<div class="d-flex justify-content-center">
    <div>
        <!-- buttons directing to different links go here -->
        <a class="btn btn-primary" routerLink="/projects" role="button">Projects</a>
        <a class="btn btn-primary" routerLink="#" role="button">Resume</a>
    </div>
    <div>
        <!-- buttons directing to different links go here -->
        <a class="btn btn-primary" routerLink="/aboutme" role="button">About Me</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/joshua-quizon-4092a8233" role="button">LinkedIn</a>
    </div>
</div>
    
<div class="d-flex flex-column align-items" id="contributionsContainer">
    <p class="flex-column" id="contributionsLabel">GitHub Contributions as of {{ dateStr }}:</p>
    <img src="https://ghchart.rshah.org/jbq2" alt="jbq2's Github chart" />
</div>
