<div class="d-flex justify-content-center" *ngIf="(isLoading$ | async); else displayData">
  <img id="loadingImg" src="https://raw.githubusercontent.com/jbq2/GitHubImages/main/PersonalWebsiteImages/loadingdots.gif" alt="">
</div>

<ng-template #displayData>
  <div id="projectsListDiv" class="d-flex justify-content-center" *ngIf="(projects$ | async); else noData">
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Start to End</th>
            <th scope="col">GitHub Repo Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of projects$ | async">
            <td>{{ p.id }}</td>
            <td><a (click)="onClickProject(p.id)"><strong>{{ p.name }}</strong></a></td>
            <td *ngIf="p.enddate != null; else noEndDate">{{ p.startdate }} to {{ p.enddate }}</td>
            <ng-template #noEndDate>
                <td><i>Incomplete</i></td>
            </ng-template>
            <td *ngIf="p.url != null; else nourl"><a href="{{ p.url }}">{{ p.url }}</a></td>
            <ng-template #nourl>
                <td><i>No URL</i></td>
            </ng-template>
          </tr>
        </tbody>
    </table>
  </div>

  <ng-template #noData>
    <div>
      No Data Right Now :(
    </div>
  </ng-template>
</ng-template>