<app-navbar></app-navbar>

<h1 class="text-center display-3">Resumé</h1>

<h1 class="text-center">Basic Information</h1>
<div class="container basic-information d-flex justify-content-center">

    <div class="card" id="half-card">
        <div class="card-body">
          <h3 class="card-title">Personal</h3>
          <h5 class="card-subtitle mb-2 text-muted">Basic Information</h5>
          <ul>
            <li>Joshua Quizon</li>
            <li>44 Mt Pleasant Tpke, Denville, NJ</li>
            <li>jbq2@njit.edu</li>
          </ul>
        </div>
    </div>
    
    <div class="card" id="half-card">
        <div class="card-body">
          <h3 class="card-title">Education</h3>
          <h5 class="card-subtitle mb-2 text-muted">Basic Information</h5>
          <ul>
            <li>New Jersey Institute of Technology</li>
            <li>Newark, NJ</li>
            <li>Ying Wu College of Computing</li>
            <li>3rd Year Student | GPA: 3.96</li>
          </ul>
        </div>
    </div>

</div>


<h1 class="text-center">Work Experience</h1>
<div class="container work-experience d-flex flex-column">
<!-- TODO add work experience here -->
<!-- TODO full cards -->
</div>


<h1 class="text-center">Projects</h1>
<div class="container projects d-flex flex-column">

    <div *ngFor="let p of projects" class="card" id="full-card">
        <div class="card-body">
          <h4 class="card-title">{{ p.name }}</h4>
          <h5 class="card-subtitle mb-2 text-muted">Project</h5>
          <p>{{ p.description }}...</p>
          <a (click)="onClickProject(p.id)" class="card-link">Full Description</a>
          <a *ngIf="p.url != null" href="{{ p.url }}" class="card-link">GitHub Link</a>
        </div>
    </div>

</div>


<h1 class="text-center">Achievements and Awards</h1>
<div class="container basic-information d-flex justify-content-center">
<!-- TODO add achievements and awards here -->
<!-- TODO half cards -->
</div>


<h1 class="text-center">Relevant Coursework</h1>
<div class="container work-experience d-flex flex-column">
<!-- TODO add work experience here -->
<!-- TODO full card -->
</div>