<app-navbar></app-navbar>

<div class="d-flex flex-column">
    <h1 class="text-center display-4">About Me</h1>
    <h4>Last Updated: {{ lastupdated }}</h4>

    <div class="text-center w-50">
        <h2>Background</h2>
        <p>{{ background }}</p>
    </div>

    <img src="https://raw.githubusercontent.com/jbq2/GitHubImages/main/PersonalWebsiteImages/IMG_2503.jpg" alt="Pic of me">

    <div class="text-center w-50">
        <h2>Currently</h2>
        <p>{{ currently }}</p>
    </div>

    <div class="text-center w-50">
        <h2>Interests</h2>
        <p>{{ interests }}</p>
    </div>

    <img src="https://raw.githubusercontent.com/jbq2/GitHubImages/main/PersonalWebsiteImages/IMG_8486.jpg" alt="Pic of me and friends">

    <div class="text-center w-50">
        <h2>Goals</h2>
        <p>{{ goals }}</p>
    </div>
</div>