h1{
    margin: 20px 0px 0px 0px;
}

h4{
    margin: 10px 0px 35px 0px;
}

div{
    margin: auto;
    margin-bottom:20px;
    align-items:center;
    justify-content: center;
    text-size-adjust:auto;
}

